-
  var articleTitle = "Strength and Resolve: Tales of Recovery in the Islamic City";
  var title = `${articleTitle} | The GUIDON`;
  var themeColor = "#282828";
  var blurb = "";
  var url = "http://interactive.theguidon.com/2018/05/marawi/";
  var preview = url + "img/preview.jpg";

doctype html
html
  head
    title= title
      
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
      
    meta(name="msapplication-tap-highlight" content="no")
      
    meta(name="theme-color" content=themeColor)
    meta(name="apple-mobile-web-app-status-bar-style" content=themeColor)
    meta(name="mobile-web-app-status-bar-style" content=themeColor)
      
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
      
    meta(property="og:title" content=title)
    meta(property="og:site_name" content=title)
    meta(property="og:description" content=blurb)
    meta(property="og:image" content=preview)
    meta(property="og:url" content=url)
      
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@theguidon")
    meta(name="twitter:creator" content="@theguidon")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=blurb)
    meta(name="twitter:image" content=preview)
      
    link(href="css/main.css" rel="stylesheet" type="text/css")
  body
    #global-wrapper
    script(src="js/main.js")
